/* Master Style */

body {
  margin: 0rem;
  font-family: "Lato", sans-serif;
}
.indexpage {
  background-color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
}

section {
  margin: 2rem 0rem;
}

.aboutme h2 {
  font-size: 2rem;
  text-transform: unset;
  font-weight: 400;
}

p {
  line-height: 1.5rem;
}

h3 {
  color: #f6904b;
  font-weight: 400;
}

figcaption {
  font-style: italic;
  opacity: 50%;
}

@media (max-width: 1220px) {
  header {
    background-image: url("../images/others/bg_img2.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    height: 20rem;
    transition: 1s;
  }
  header:hover {
    background-position: right center;
  }

  .aboutme {
    display: grid;
    margin: auto;
    width: 900px;
    margin-bottom: 20rem;
  }
  .title > .text {
    display: grid;
    margin: auto;
    width: 900px;
    margin-bottom: 20rem;
  }

  .content_wrapper {
    display: grid;
    margin: auto;
    width: 900px;
  }

  h1 {
    font-weight: 400;
  }
  h1 strong {
    color: #f6904b;
    font-weight: 400;
  }

  .down_arrow {
    margin-bottom: 4rem;
  }

  .down_arrow img {
    opacity: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2rem;
  }
}

@media (min-width: 1221px) {
  header {
    background-image: url("../images/others/bg_img2.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    height: 50rem;
    transition: 1s;
  }
  header:hover {
    background-position: right center;
  }

  .title > .aboutme {
    display: grid;
    margin: auto;
    width: 1200px;
    margin-top: 5rem;
    margin-bottom: 15rem;
  }
  .title > .text {
    display: grid;
    margin: auto;
    width: 1200px;
    margin-top: 5rem;
    margin-bottom: 15rem;
  }

  .content_wrapper {
    display: grid;
    margin: auto;
    width: 1200px;
  }
  h1 {
    font-size: 4rem;
    font-weight: 400;
  }
  h1 strong {
    color: #f6904b;
    line-height: 6rem;
    font-weight: 400;
  }

  .down_arrow {
    margin-bottom: 4rem;
  }

  .down_arrow img {
    opacity: 0.3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3rem;
  }
}

/* Nav Style */
@media (max-width: 1220px) {
  nav {
    margin: auto;
    width: 900px;
  }
  .nav_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0rem;
  }
  .nav_wrapper > .right_side > div {
    text-transform: uppercase;
    color: transparent;
  }
}
@media (min-width: 1221px) {
  nav {
    margin: auto;
    width: 1200px;
  }
  .nav_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0rem;
  }
  .nav_wrapper > .right_side {
    display: flex;
  }

  .nav_wrapper > .right_side > div {
    text-transform: uppercase;
  }
}
.logo > img {
  opacity: 0;
  width: 1rem;
}
.nav_wrapper > .left_side {
  display: flex;
}

.nav_wrapper > .left_side > div {
  margin-right: 2rem;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav_link_wrapper {
  height: 1.2rem;
  border-bottom: 1px solid transparent;
  transition: border-buttom 0.5s;
}

.nav_link_wrapper > a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav_link_wrapper:hover {
  border-bottom: 1px solid black;
}

.nav_link_wrapper > a:hover {
  color: black;
}

.active_nav_link {
  border-bottom: 1px solid black;
}

.active_nav_link > a {
  color: black;
}

/* Portfolio Style */

.portfolio_items_wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.portfolio_item_wrapper {
  position: relative;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 1220px) {
  .portfolio_img_background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 12rem;
    width: 100%;
  }
}

@media (min-width: 1221px) {
  .portfolio_img_background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    width: 100%;
  }
}

.text_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 0rem;
  padding-right: 0rem;
}

.text_wrapper > .subtitle > p {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0rem;
  color: transparent;
  transition: 1s;
}

.text_wrapper > .description {
  font-weight: 100;
  color: transparent;
  transition: 1s;
}

/* about page*/
.contact_link {
  background-color: transparent;
  border: 2px solid #f6904b;
  border-radius: 3rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.contact_link:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1);
}

.contact_link > a {
  color: #f6904b;
  text-decoration: none;
  transition: color 0.5s;
}
.linkedin_link:hover {
  border-bottom: 1px solid #f6904b;
}

.linkedin_link > a {
  color: #f6904b;
  text-decoration: none;
}
/* 
.contact_link > a:hover {
  color: #f6904b;
} */

.aboutme {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.education_experience {
  width: 60%;
  height: auto;
}

.work_experience {
  width: 60%;
  height: auto;
}

.two_column_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  height: 10vh;
}

hr {
  opacity: 0.5;
}

.in_nav {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
/* change when seleted */

.text_wrapper:hover > .subtitle > p {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0rem;
  color: white;
}

.text_wrapper:hover > .description {
  font-weight: 100;
  color: white;
}

.img_darken {
  transition: 0.5s;
  filter: brightness(10%);
}

.profile_img_wrapper > img {
  width: 100%;
}

.profile_content_wrapper {
  padding: 2rem;
}

/* article */

article {
  margin: auto;
  width: 1000px;
}

article > h2 {
  margin: 5rem 0rem 2rem 0rem;
  text-align: center;
}

article > p {
  text-align: center;
  margin: 0rem 3rem 2rem 3rem;
}
article > .text {
  text-align: left;
  margin: 1rem 0rem;
}

article > img {
  width: 100%;
}
.two_column_wrapper > img {
  width: 100%;
}

article > a > img {
  width: 100%;
}
.two_column_wrapper > img {
  width: 100%;
}

article > iframe {
  width: 100%;
  height: 562px;
}
